services:
  postgres: 
    image: postgres:18.0
    container_name: database
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres:/var/lib/postgresql
    ports:
      - '5432:5432'
      
    env_file:
      - .env

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    command: ['redis-server', '--requirepass', '${REDIS_PASSWORD}']
    env_file:
      - .env
    ports:
      - '6379:6379'
  
volumes:
  postgres:
  redis_data:
    driver: local